 <%if session[:userinfo]&.dig('roles')&.include?('admin')%>
 
<div class="">
<% @clothings.each do |clothing| %>
  <%= link_to clothing_path(clothing.id) do %>
      <div class="clothing_conteiner_for_order">
      <%= image_tag clothing.image,class: "image_of_order" %>

       <div class="clothing-name">
       <p> <%= clothing.name %> <%= clothing.price%>$
        <%= form_with model: clothing, method: :delete, local: true do %>
       <%= submit_tag "Delite", class: "btn" %>
       <%end%>
       <%= link_to "Redact", edit_clothing_path(clothing), class: "btn" %></p>
       </div>
    </div>
    <% end %>
  <% end %>
</div>
<%end%> 