<div style="display: flex; gap: 20px;">
  <%= link_to "for_men", business_suits_clothings_path(for_whom: "for_men"), class: "filter-box" %>
  <%= link_to "for_women", business_suits_clothings_path(for_whom: "for_women"), class: "filter-box" %>
  <%= link_to "unisex", business_suits_clothings_path(for_whom: "unisex"), class: "filter-box" %>
  <%= link_to "all", business_suits_clothings_path, class: "filter-box" %>
</div>
business_suits
<div class="clothing-container">
<% @business_suits.each do |business_suits| %>
  <%= link_to clothing_path(business_suits.id) do %>
    <div class="clothing-item">
      <div class="responsive-container">
        <img class="responsive-image" src="<%= business_suits.image_url %>" alt="Clothing Image"/>
       <div class="clothing-name">
        <%= business_suits.name %>
       </div>
       <div class="clothing-prise">
        <%= business_suits.price%>$
        </div>
      </div>
    </div>
    <% end %>
  <% end %>
</div>