<div>
<%= link_to t_shirts_clothings_path, class: "background_category", style: "background-image: url(#{asset_path('t-shirts.jpg')}); position: relative;" do %>
  <span class="container_category">T-shirts</span>
<% end %>
</div>
<div>
<%= link_to headwear_clothings_path, class: "background_category", style: "background-image: url(#{asset_path('headwear.jpg')}); position: relative;" do %>
  <span class="container_category">Headwear</span>
<% end %>
</div>
<div>
<%= link_to shoes_clothings_path, class: "background_category", style: "background-image: url(#{asset_path('shoes.jpg')}); position: relative;" do %>
  <span class="container_category">Shoes</span>
<% end %>
</div>
<div>
<%= link_to jackets_clothings_path, class: "background_category", style: "background-image: url(#{asset_path('jackets.jpg')}); position: relative;" do %>
  <span class="container_category">Jackets</span>
<% end %>
</div>
<div>
<%= link_to sweaters_clothings_path, class: "background_category", style: "background-image: url(#{asset_path('sweaters.jpg')}); position: relative;" do %>
  <span class="container_category">Sweaters</span>
<% end %>
</div>
<div>
<%= link_to business_suits_clothings_path, class: "background_category", style: "background-image: url(#{asset_path('business_suits.jpg')}); position: relative;" do %>
  <span class="container_category">Business Suits</span>
<% end %>
</div>