<div style="display: flex; gap: 20px;">
  <%= link_to "for_men", shoes_clothings_path(for_whom: "for_men"), class: "filter-box" %>
  <%= link_to "for_women", shoes_clothings_path(for_whom: "for_women"), class: "filter-box" %>
  <%= link_to "unisex", shoes_clothings_path(for_whom: "unisex"), class: "filter-box" %>
  <%= link_to "all", shoes_clothings_path, class: "filter-box" %>
</div>
shoes
<div class="clothing-container">
<% @shoes.each do |shoes| %>
  <%= link_to clothing_path(shoes.id) do %>
    <div class="clothing-item">
      <div class="responsive-container">
        <img class="responsive-image" src="<%= shoes.image_url %>" alt="Clothing Image"/>
       <div class="clothing-name">
        <%= shoes.name %>
       </div>
       <div class="clothing-prise">
        <%= shoes.price%>$
        </div>
      </div>
    </div>
    <% end %>
  <% end %>
</div>