<div>
<%= button_to add_clothings_cart_path(@clothings.id), class:""  do%>
 Add to cart
 <% end %>
<img class="responsive-image" src=<%= @clothings.image_url %> />
<div class="clothing-name">
name: <%= @clothings.name %>
</div>
<div>
brand: <%= @clothings.brand %>
</div>
<div>
size: <%= @clothings.size %>
</div>
<div>
prise: <%= @clothings.price %>$
</div>
<div>
material_type: <%= @clothings.material %>
</div>
<div>
description: <%= @clothings.description %>
</div>
</div>