<%= javascript_importmap_tags "delete_confirm" %>
<%= javascript_importmap_tags "delete_reviews" %>
<%= javascript_include_tag "review_replies", defer: true %>

<div>
<%= button_to add_clothings_cart_path(@clothing.id), class:"btn"  do%>
 Add to cart
 <% end %>
 <p>
<% if session[:userinfo]&.dig('roles')&.include?('admin') %>
 <%= form_with model: @clothing, method: :delete, local: true, html: { id: "delete-clothing-form" } do %>
  <%= submit_tag "Delete", class: "btn" %> <%= link_to "Redact", edit_clothing_path(@clothing), class: "btn" %>
<% end %>
<p>
<% end %>

<% if @clothing.image.attached? %>
   <%= image_tag @clothing.image,class: "responsive-image" %>
<% end %>

<div class="clothing-name">
<%= @clothing.name %>
<div class="star-rating">
  <div class="stars-outer">
    <div class="stars-inner" style="width: <%= (@average_rating.to_f / 5 * 100).round %>%"></div>
  </div>
  <span>(<%= @average_rating %>/5)</span>
</div>
</div>

<div>
brand: <%= @clothing.brand %>
</div>
<div>
size: <%= @clothing.size %>
</div>
<div>
prise: <%= @clothing.price %>$
</div>
<div>
material_type: <%= @clothing.material %>
</div>
<div>
description: <%= @clothing.description %>
</div>
</div>



<h2>Reviews</h2>

<% if session[:userinfo] %>
  <%= form_with(url: clothing_reviews_path(@clothing), model: Review.new, local: true) do |form| %>
    <div>
      <%= form.label :content, "Review" %><br>
      <%= form.text_area :content %>
    </div>

    <div>
      <%= form.label :rating, "Stars" %><br>
      <%= form.select :rating, options_for_select(1..5), prompt: "Stars" %>
      <%= form.submit "Add review" %>
    </div>
  <% end %>
<% else %>
  <p>Only logged in users can comment. <%= link_to "Login", "/auth/auth0" %></p>
<% end %>

<%# Отображаем ТОЛЬКО корневые отзывы через partial с рекурсией %>
<% @clothing.reviews.where(parent_id: nil).each do |review| %>
  <%= render partial: "reviews/review", locals: { review: review, depth: 0 } %>
<% end %>

<%# Reply форма %>
<div id="reply-form" style="display: none;">
  <%= form_with model: [@clothing, Review.new], local: true do |form| %>
    <%= form.hidden_field :parent_id %>
    <%= form.label :content, "Ваш ответ" %><br>
    <%= form.text_area :content %>
    <%= form.submit "Ответить" %>
  <% end %>
</div>
