<div>
<%= button_to add_clothings_cart_path(@clothing.id), class:""  do%>
 Add to cart
 <% end %>
 <%= form_with model: @clothing, method: :delete, local: true do %>
  <%= submit_tag "Удалить", data: { confirm: "Точно удалить?" } %>
<% end %>
<%= link_to "Редактировать", edit_clothing_path(@clothing) %>
<% if @clothing.image.attached? %>
      <%= image_tag @clothing.image,class: "responsive-image" %>
      <% end %>

<div class="clothing-name">
name: <%= @clothing.name %>
</div>
<div>
brand: <%= @clothing.brand %>
</div>
<div>
size: <%= @clothing.size %>
</div>
<div>
prise: <%= @clothing.price %>$
</div>
<div>
material_type: <%= @clothing.material %>
</div>
<div>
description: <%= @clothing.description %>
</div>
</div>