<div style="display: flex; gap: 20px;">
  <%= link_to "for_men", t_shirts_clothings_path(for_whom: "for_men"), class: "filter-box" %>
  <%= link_to "for_women", t_shirts_clothings_path(for_whom: "for_women"), class: "filter-box" %>
  <%= link_to "unisex", t_shirts_clothings_path(for_whom: "unisex"), class: "filter-box" %>
  <%= link_to "all", t_shirts_clothings_path, class: "filter-box" %>
</div>
t_shirts
<div class="clothing-container">
<% @t_shirts.each do |t_shirts| %>
  <%= link_to clothing_path(t_shirts.id) do %>
    <div class="clothing-item">
      <div class="responsive-container">
         <% if t_shirts.image.attached? %>
      <%= image_tag t_shirts.image,class: "responsive-image" %>
      <% end %>
       <div class="clothing-name">
        <%= t_shirts.name %>
       </div>
       <div class="clothing-prise">
        <%= t_shirts.price%>$
        </div>
      </div>
    </div>
    <% end %>
  <% end %>
</div>