<div class="review_container" style="margin-left: <%= depth * 20 %>px;">
<div>
  <strong><%= review.user_name %></strong>
  <%= review.created_at.strftime("%d-%m-%Y") %>
  <div class="star-rating">
    <div class="stars-outer">
      <div class="stars-inner" style="width: <%= (review.rating.to_f / 5 * 100).round %>%"></div>
    </div>
  </div>

    <% if session[:userinfo] %>
    <%= link_to "Answer", "#", data: { reply_to: review.id }, class: "reply-link" %>
    <% end %>
  </div>
  <div class= "revew_content">
  <%= review.content %>
  </div>

  <% if session[:userinfo]&.dig('roles')&.include?('admin') %>
  <%= form_tag clothing_review_path(@clothing, review), method: :delete, local: true, class: "delete-review-form" do %>
    <%= submit_tag "Delite", class: "btn" %>
  <% end %>
  <% end %>

  <% review.replies.each do |reply| %>
    <%= render partial: "reviews/review", locals: { review: reply, depth: depth + 1 } %>
  <% end %>
</div>