<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Elle Marko" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class= "background" style="background-image: url('<%= asset_path "background.jpg" %>');">
    <header class="site-header">
    <%= link_to clothings_path do%>
    <div class= "title_style">Elle Marko</div>
    <%end%>
    <%= link_to cart_path do %>
     <span class="cart_style"> Cart (<%= cookies.signed[:cart].values.sum %>)</span>
  <%end%>
  </header>
<div class="container_for_sidebar">
  <div class="sidebar">
      <div class="sidebar_link_style "><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">IMPORTANT</a></div>
      <div><%= link_to "T-Shirts", t_shirts_clothings_path, class: "sidebar_link_style" %></div>
      <div><%= link_to "Headwear", headwear_clothings_path, class: "sidebar_link_style" %></div>
      <div><%= link_to "Shoes", shoes_clothings_path, class: "sidebar_link_style" %></div>
      <div><%= link_to "Jackets", jackets_clothings_path, class: "sidebar_link_style" %></div>
      <div><%= link_to "Sweaters", sweaters_clothings_path, class: "sidebar_link_style" %></div>
      <div><%= link_to "Business-Suits", business_suits_clothings_path, class: "sidebar_link_style" %></div>
  </div>
  <main class="main-container">
    <p><%= yield %></p>
  </main>
</div>
  <footer>
    <p>&copy; fuck you </p>
  </footer>

  </body>
</html>
